:root{
    ---drop-shadow:0px 1px 4px 1px rgba(199,199,199,1);
    ---income:green;
    ---expense:red;
}

body{
    font-family: 'rubik','sans-serfi';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.app h1{
    text-align:center ;
}

 h2{
    text-transform: uppercase;
}
.balance-container #balance{
    font-size: 1.5em;
}

.cashflow-container{
  display: flex; 
  box-shadow:var(---box-shadow) ; 
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 20px;

}

.income-container{
   border-right: 1px solid#cccccc; 
   padding-right: 20px;
}

.expense-container{
padding-left: 20px;
}

#income, #expense{
    font-size: 1.3em;
    padding-right: 20px;
}
     
#income{ 
    color:var(---income);
}

#expense{
    color: var(---expense);
}

.transaction-container{
    display: flex;
    padding-right: 20px;
    font-size: 1.3rem;
}
